<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cabeçalho</title>
    <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}" defer></script>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>
<body>
<div th:fragment="cabecalho" class="header container-fluid p-3 bg-light shadow-sm">
    <h1 class="mb-3"><span th:text="#{app.name}"></span></h1>
    <nav class="navbar navbar-expand-lg">
        <div class="navbar-nav">

            <!-- Funcionários -->
            <a class="nav-item nav-link" th:href="@{/funcionarios/lista}" th:text="#{menu.funcionario.lista}"></a>
            <a class="nav-item nav-link" th:href="@{/funcionarios/cadastro}" th:text="#{menu.funcionario.cadastro}"></a>

            <!-- Pátios -->
            <a class="nav-item nav-link" th:href="@{/patios/lista}" th:text="#{menu.patio.lista}"></a>
            <a class="nav-item nav-link" th:href="@{/patios/cadastro}" th:text="#{menu.patio.cadastro}"></a>

            <!-- Motos -->
            <a class="nav-item nav-link" th:href="@{/motos/lista}" th:text="#{menu.moto.lista}"></a>
            <a class="nav-item nav-link" th:href="@{/motos/cadastro}" th:text="#{menu.moto.cadastro}"></a>

            <!-- Clientes -->
            <a class="nav-item nav-link" th:href="@{/clientes/lista}" th:text="#{menu.cliente.lista}"></a>
            <a class="nav-item nav-link" th:href="@{/clientes/cadastro}" th:text="#{menu.cliente.cadastro}"></a>

            <!-- Idiomas -->
            <a class="nav-item nav-link" href="?lang=pt_BR">BR</a>
            <a class="nav-item nav-link" href="?lang=en">EN</a>
        </div>
    </nav>
</div>
</body>
</html>
